body,.layout,#hander,dl,dd,ul,li,a{
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.allwrap {
	background: #2a2a2a url("bg_vs2.jpg") no-repeat center top; 
}
#hander {
	width: 980px;
	margin: 0 auto;
	text-align: left; 
	position: relative;
}
#hander .logo {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 212px;
	top: 35px;
	cursor: pointer;
}
.nav {
	padding-left: 274px;
	padding-top: 39px;
}
.nav dl {
	float: left;
	padding-left: 21px;
	text-align: center;	
}
.nav dl dt{
	margin-top: 10px;
	text-indent: -999999px;
	line-height: 30px;
}
.nav dl dd a {
	display: block;
	color: #fff;
	font-family: microsoft yahei;
	font-size: 14px;
	line-height: 30px;
	padding: 0 15px;
}
.nav dl dd a:hover {
	background: #513e2f;
	border-left: 4px solid #ffef0c;
	text-indent: -4px;
	border-radius: 2px;
}
.layout {
	width: 980px;
	margin: 20px auto 0;
	position: relative;
	
}
.images-tab a span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: rgb(255,255,0);
}
.images-tab a span:active {
	background:#fff;
}

.images-tab {
	position: absolute;
	left: 35px;
	top: 245px;
}
.main-images {
	width: 750px;
	height: 280px;
	overflow: hidden;
	float: left;
}
.main-side {
	float: right;
	width: 228px;
	height: 280px;
	background: url("sp_act.jpg") no-repeat;
 	background-position: 0px 2px;
 	
}
.main-side .side-bg a{
	display: block;
	width: 234px;
	height: 200px;
	float: right;
	border-radius: 100%;
	margin-top: -36px;
	background: url("png8_2 (1).png") no-repeat;
	background-position: -454px 3px;

}
.main-side ul li {
	display: inline-block;
	

}
.main-side ul li:nth-child(2) {
	margin-left: -10px;
}
.main-side ul li a{
	display: inline-block;
	line-height: 114px;
	padding: 0 49px;
	text-indent: -9999px;

}
.main-side ul li:nth-child(1) a:hover {
	background: url("sp_act.jpg") no-repeat;
	background-position: -230px -5px;

}
.main-side ul li:nth-child(2) a:hover {
	background: url("sp_act.jpg") no-repeat;
	background-position: -230px -123px;
}
.sidebar {
	width: 268px;
	float: left;
	margin-top: 20px;
}

ul.information li a {
	display: block;
	height: 30px;
	width: 260px;
	text-indent: -9999px;
}
ul.information li:nth-child(2) a {
	background: url("sp_act.jpg") no-repeat;
	background-position: -346px -120px;
}
ul.information li:nth-child(3) a {
	background: url("sp_act.jpg") no-repeat;
	background-position: -346px -28px;
}
ul.information li:nth-child(4) a {
	background: url("sp_act.jpg") no-repeat;
	background-position: -346px -57px;
}
ul.information li:nth-child(5) a {
	background: url("sp_act.jpg") no-repeat;
	background-position: -346px -86px;
}
ul.information li:nth-child(6) a {
	background: url("sp_act.jpg") no-repeat;
	background-position: -346px -280px;
}
ul.check-in li {
	float: left;
	padding: 5px 8px;
}
ul.check-in li a {
	font-size: 12px;
	color: #958F8F;
}
ul.check-in li:nth-child(odd) {
	background: #262626;
}
ul.check-in li:nth-child(even) {
	background: #2C2C2C;
}
.center-listen {
	margin-top: 30px;
}
.center-listen a {
	display: inline-block;
	width: 268px;
	height: 58px;
	background: url("png24.png") no-repeat;
	background-position: -1286px -65px;
}
.weixin h3,.questionnaire h3,.ask h3 {
	display: inline-block;
	height: 16px;
	width: 260px;
	color: #fff
}
.sidebar dl{
	padding: 10px;
	margin-top: -3px; 
	border-top: 2px solid #383838;
	color: #7E7A69;
	font-size: 12px;
	line-height: 25px;
}
.weixin dl dt {
	float: left;
	overflow: hidden;
}
.weixin dl dd {
	display: block;
	padding-left: 77px;
	
}
.weixin dl dd strong {
	font-size: 14px;
	color: #fff;
}
.ask dl dd a {
	font-size: 14px;
	color: #fff;
}
.questionnaire input[type=submit] {
	display: block;
	padding: 4px 40px;
	margin: 10px auto 0;
	border: none;
	background: #303030;
	color: #7D7D7D;
	cursor: pointer;
}
.questionnaire input[type=submit]:active {
	border: 1px solid blue;
}
#content {
	width: 712px;
	margin-top: 20px;
	float: left;
}

#content ul.con-img li{
	float: left;
	margin-left: 10px;
}
#content ul.con-img li:nth-child(1) {
	margin-left: 0px;
}
.con-wrap {
	background: #3A3A3A;
	margin-top: -16px;
}
#content ul.con-nav {
	margin-top: 7px;
}
#content ul.con-nav li {
	float: left;
	display: block;
	height: 50px;
}
#content ul.con-nav li a{
	font-size: 16px;
	display: block;
	height: 100%;
	padding: 0 27px;
	color: #fff;
    font-weight: bold;
    text-align: center;
	line-height: 50px;
	background: rgba(182,156,109,0.4);
	border-radius: 10px 10px 0 0;
}
#content ul.con-nav li a:hover {
	background: url("png8_2 (1).png") no-repeat;
	background-position: -1px 0;
}
#content ul.con-nav li a:active {
	background: url("png8_2 (1).png") no-repeat;
	background-position: -1px 0;
}
.content-main dl {
	padding: 30px 30px 70px 30px;
	border-bottom: 1px solid #2A2A2A;
}
.content-main dl:hover {
	background: #444;
}

.content-main dl dt {
	float: left;
}
.content-main dl dd {
	margin-left: 150px;
	color: #828181;
}
.content-main dl dd h3 {
	margin-top: 0px;
}
.content-main dl dd h3 a{
	color: #fff;
}
.content-main dl:nth-child(1) {
	margin-top: 16px;
}
.footer {
	display: inline-block;
	width: 100%;
	height: 120px;
	margin-top: 50px;
	background: #3A3A3A;
	position: relative;
}
.footer ul {
	font-size: 12px;
	color: #fff;
	margin-top: 20px;
	position: absolute;
	left: 450px;
	top: 20px;
}
.footer ul li {
	display: block;
	line-height: 20px;
}
.footer-logo1 {
	height: 100px;
	width: 720px;
	background: url("foot_white_2.png") no-repeat;
	background-position: 17px 36px;
	position: absolute;
	left: 284px;
	top: 10px;
}



